header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 5.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background: transparent;
    transition: all ease 0.5s;
}

header.black {
    background-color: #141414;
}

.header-logo{
    height: 2.5rem;
}
.header-user{
    height: 3.5rem;
}

.header-user a img {
    border-radius: 0.3rem;
}

.header-logo a img, 
.header-user a img{
    height: 100%;
}